body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  background: #f7f7f7;
  color: #333333;
  padding: 0;
  margin: 0;
}

th:focus {
  outline: none;
}

tbody tr {
  display: inline-table;
}

.hide {
  display: none;
}

#tableContainer {
  margin: 20px;
  height: 500px;
  overflow: scroll;
  border: 1px solid #eee;
  border-radius: 4px;
  z-index: 0;
}

.table {
  border-spacing: 0px;
}

.headTitle {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 250px;
  height: 45px;
  background: #fff;
  padding: 9px 10px 9px 32px;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  margin: 0;
}

.headTitleCell {
  box-sizing: border-box;
  width: 130px;
  min-width: 130px;
  background: #fff;
  text-align: center;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  padding: 0 20px;
  margin: 0;
  white-space: nowrap;
  font-size: 13px;
  line-height: 17px;
}

.bodyTitleHead {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 250px;
  height: 38px;
  text-align: center;
  box-sizing: border-box;
  background: #f7f7f7;
  padding: 9px 10px 9px 32px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  white-space: nowrap;
}

.bodyTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 38px;
  text-align: center;
  box-sizing: border-box;
  background: #f7f7f7;
  padding: 9px 10px 9px 32px;
  line-height: 20px;
  font-weight: 700;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  white-space: nowrap;
}

.bodyTitleCell {
  box-sizing: border-box;
  width: 130px;
  background: #f7f7f7;
  text-align: center;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
}

.bodyNameCell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 38px;
  text-align: left;
  box-sizing: border-box;
  background: #fff;
  padding: 9px 10px 9px 32px;
  line-height: 20px;
  font-weight: 400;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  white-space: nowrap;
}

.labelBodyName{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bodyValueCell {
  box-sizing: border-box;
  width: 130px;
  background: #fff;
  text-align: center;
  border: 1px solid #eee;
  border-top: 0;
  border-left: 0;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  padding: 8px;
}

.iconHide {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}

.iconSort {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.iconAdd {
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 3px;
  transition: background 0.2s ease-in-out;
}

.iconCancel {
  cursor: pointer;
  opacity: 0;
  width: 16px;
  height: 16px;
  padding: 4px;
}

.iconCancelActive {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.nameContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  background: none;
  outline: none;
  border: none;
}

.inputValue {
  font-family: "PT Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  max-width: 113px;
  outline: none;
  border: none;
  font-size: 14px;
  color: rgb(51, 51, 51, 0.5);
}

.conTooltip {
  position: relative;
  display: flex;
  border-radius: 9px;
  padding: 0 4px;
  transition: all 0.3s ease-in-out;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  width: 145px;
  padding: 4px 8px;
  background: #333;
  color: #fff;
  bottom: 20px;
  left: -67px;
  right: 0;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  transform: translateY(2px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
  white-space: normal;
}

.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  bottom: -5px;
  left: 45%;
}

.conTooltip:hover .tooltip {
  visibility: visible;
  transform: translateY(-1px);
  opacity: 1;
  transition: 0.3s linear;
}





